APP_NAME=CFD Platform
DEBUG=True

MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=cfd_platform

UPLOAD_DIR=./data/uploads
CASES_DIR=./data/cases
RESULTS_DIR=./data/results

OPENFOAM_ROOT=/usr/lib/openfoam
OPENFOAM_VERSION=openfoam2312
