POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=chemviz
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=chemviz-files
MINIO_SECURE=false
